<head>
    <title>Get list of ranked contributors in category</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
    <br /><br /><br /><br /><br /><br />

    <center>
        <div id="logo_wrapper">
            <img src="logo.png" border="0" alt="logo" />
        </div>
        <br /><br /><br />
        <form action="" method="post">
            <input type="text" name="query">
            <input type="submit" value="search">
        </form>
    </center>

    <div style="position: relative; text-align: center">
          <p style="position: fixed; bottom: 0; width:100%;">Ranked_Contributors (find sourcecode on <a href="https://github.com/vgratian">my Github</a>)</p>
    </div>
</body>
